In [8]:
#pip install firebase_admin
#pip install beautifulsoup4 
#pip install finance-datareader

In [9]:
import firebase_admin
import FinanceDataReader as fdr
import datetime
import pandas as pd

from firebase_admin import credentials
from firebase_admin import db

from dateutil.relativedelta import relativedelta

In [11]:
#Firebase database 인증 및 앱 초기화
cred = credentials.Certificate('kb-app-23eb5-firebase-adminsdk-72lxa-1fddf52ea4.json')
firebase_admin.initialize_app(cred,{
    'databaseURL' : 'https://kb-app-23eb5-default-rtdb.firebaseio.com/'
})

In [13]:
today_default = datetime.date.today()
yesterday_default = today_default - datetime.timedelta(days=1)
tomorrow_default = today_default + datetime.timedelta(days=1)

yesterday_default = str(yesterday_default)
today_default = str(today_default)
tomorrow_default = str(tomorrow_default)

yesterday = yesterday_default.replace("-",'')
today = today_default.replace("-",'')
tomorrow = tomorrow_default.replace("-",'')

In [12]:
"""
stocklist = fdr.StockListing('KRX') #나중에 stocklist 변경하기
stocks = pd.concat([stocklist.Name, stocklist.Symbol], axis = 1)

tic = "".join(list(stocks[stocks.Name=='삼성전자'].Symbol.values))
print(tic)
df = fdr.DataReader(tic,yesterday_default,yesterday_default)
print(df.Change.values)
"""

'\nstocklist = fdr.StockListing(\'KRX\') #나중에 stocklist 변경하기\nstocks = pd.concat([stocklist.Name, stocklist.Symbol], axis = 1)\n\ntic = "".join(list(stocks[stocks.Name==\'삼성전자\'].Symbol.values))\nprint(tic)\ndf = fdr.DataReader(tic,yesterday_default,yesterday_default)\nprint(df.Change.values)\n'

In [27]:
fdr.DataReader('005930','2022-03-21', '2022-03-28')

             Open   High    Low  Close    Volume    Change
Date
2022-03-21  70900  71000  69900  69900  11169002 -0.011315
2022-03-22  69900  70500  69900  70300   9402666  0.005722
2022-03-23  70600  71200  70300  70500  12398025  0.002845
2022-03-24  69600  70300  69600  69800  37943357 -0.009929
2022-03-25  70100  70200  69600  69800  12986010  0.000000
2022-03-28  69500  69900  69200  69800   9634129  0.000000

In [25]:
stocklist = fdr.StockListing('KRX') #나중에 stocklist 변경하기
stocks = pd.concat([stocklist.Name, stocklist.Symbol], axis = 1)

dateIndex = today
#rank = pd.read_csv(f'./data/rank/{dateIndex}_rank.csv',encoding='utf-8-sig')
#companylist = list(rank.word)
#answer = pd.DataFrame({'word':companylist})

#dateIndex = 20220325
companylist = ['삼성전자','NAVER','카카오','LG에너지솔루션','SK하이닉스','삼성바이오로직스','삼성SDI', '현대차', 'LG화학','기아']
answer = pd.DataFrame({'date':today, 'days':datetime.datetime.today().weekday(),'word':companylist})
changelst = []

for element in companylist:
    tic = "".join(list(stocks[stocks.Name==element].Symbol.values))
    df = fdr.DataReader(tic,yesterday_default,yesterday_default)
    print(df.Change.values)
    if df.Change.values>0:
        changelst.append('up')
    elif df.Change.values==0:
        changelst.append('stay')
    elif df.Change.values.any()==False:
        changelst.append('-')
    else:
        changelst.append('down')

answer['change'] = changelst
answer.to_csv(f'./data/answer/{dateIndex}_answer.csv',encoding='utf-8-sig',index=False)

display(answer)

[]
[]

<ipython-input-25-839d4309a0a1>:18: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if df.Change.values>0:
<ipython-input-25-839d4309a0a1>:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  elif df.Change.values==0:
<ipython-input-25-839d4309a0a1>:18: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if df.Change.values>0:
<ipython-input-25-839d4309a0a1>:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  elif df.Change.values==0:

[]
[]
[]
[]

<ipython-input-25-839d4309a0a1>:18: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if df.Change.values>0:
<ipython-input-25-839d4309a0a1>:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  elif df.Change.values==0:
<ipython-input-25-839d4309a0a1>:18: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if df.Change.values>0:
<ipython-input-25-839d4309a0a1>:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  elif df.Change.values==0:
<ipython-input-25-839d4309a0a1>:18: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if df.Change.values>0:
<ipython-input-25-839d4309a0a1>:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  elif df.Change.values==0:
<ipython-input-25-839d4309a0a1>:18: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if df.Change.values>0:
<ipython-input-25-839d4309a0a1>:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  elif df.Change.values==0:

[]
[]

<ipython-input-25-839d4309a0a1>:18: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if df.Change.values>0:
<ipython-input-25-839d4309a0a1>:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  elif df.Change.values==0:
<ipython-input-25-839d4309a0a1>:18: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if df.Change.values>0:
<ipython-input-25-839d4309a0a1>:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  elif df.Change.values==0:

[]
[]

<ipython-input-25-839d4309a0a1>:18: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if df.Change.values>0:
<ipython-input-25-839d4309a0a1>:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  elif df.Change.values==0:
<ipython-input-25-839d4309a0a1>:18: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if df.Change.values>0:
<ipython-input-25-839d4309a0a1>:20: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  elif df.Change.values==0:

       date  days      word change
0  20220328     0      삼성전자      -
1  20220328     0     NAVER      -
2  20220328     0       카카오      -
3  20220328     0  LG에너지솔루션      -
4  20220328     0    SK하이닉스      -
5  20220328     0  삼성바이오로직스      -
6  20220328     0     삼성SDI      -
7  20220328     0       현대차      -
8  20220328     0      LG화학      -
9  20220328     0        기아      -

## TodayStock Update

In [127]:
result = pd.read_csv(f'./data/result/{dateIndex}_result.csv',encoding='utf-8-sig')
max_score = result[result.score==result.score.max()]
min_score = result[result.score==result.score.min()]
if max_score.score.values[0]>0 : 
    goodstock = max_score.word.values[0] 
else:
    goodstock = '아쉽지만 찾을 수 없습니다'
if min_score.score.values[0]<0:
    badstock = min_score.word.values[0]
else:
    badstock = '다행히 없습니다'
todaystockUpdate = {dateIndex:{'good':goodstock,'bad':badstock}}
#display(result)


ref = db.reference()
todaystock_ref = ref.child('todaystock')
todaystock_ref.update(todaystockUpdate)

## Ranking Update

In [161]:
dateIndex = 20220325
rank = pd.read_csv(f'./data/rank/{dateIndex}_rank.csv',encoding='utf-8-sig')

companyRank = {}
for i in range(len(rank.index)):
    companyRank[i] = rank.word[i]
rankUpdate = {dateIndex:companyRank}

ref = db.reference()
rank_ref = ref.child('ranking')
rank_ref.update(rankUpdate)

In [48]:
ref = db.reference()

overall_ref = ref.child('overall')
overall_ref.set({
    yesterday : '돌다리도 두드려 보고 건너라',
    today : '물에 빠진 사람 건져줬더니 보따리 내놓으라 한다',
    tomorrow : '백지장도 맞들면 낫다'   
})

todaystock_ref = ref.child('todaystock')
todaystock_ref.set({
    yesterday:
        {'good': '현대자동차',
         'bad' : '카카오'},
    today: {
        'good' : '삼성전자',
        'bad' : '스튜디오드래곤'
    },
    tomorrow:{
        'good' : '네이버',
        'bad' : '삼성화재'
    }
    
})

rank_ref = ref.child('ranking')
rank_ref.set({
    yesterday:
        {1: '현대자동차',
         2 : '카카오',
         3 : '회사3',
         4 : '회사4',
         5 : '회사5',
         6 : '회사6',
         7 : '회사7',
         8 : '회사8',
         9 : '회사9',
         10 : '회사10'},
    today: {
        1 : '삼성전자',
        2 : '스튜디오드래곤',
        3 : '회사3',
        4 : '회사4',
        5 : '회사5',
        6 : '회사6',
        7 : '회사7',
        8 : '회사8',
        9 : '회사9',
        10 : '회사10'
    },
    tomorrow:{
        1 : '네이버',
        2 : '삼성화재',
        3 : '회사3',
        4 : '회사4',
        5 : '회사5',
        6 : '회사6',
        7 : '회사7',
        8 : '회사8',
        9 : '회사9',
        10 : '회사10'
    }
    
})

checked_ref = ref.child('checked')
checked_ref.set({
    yesterday:{
        'service' : {
            1 : '⭕',
            2 : '⭕',
            3 : '⭕',
            4 : '⭕',
            5 : '⭕',
            6 : '⭕',
            7 : '⭕',
            8 : '⭕',
            9 : '⭕',
            10 : '❌'
            },
        'user': {
            1 : '❌',
            2 : '❌',
            3 : '⭕',
            4 : '⭕',
            5 : '⭕',
            6 : '⭕',
            7 : '⭕',
            8 : '⭕',
            9 : '⭕',
            10 : '⭕'
            }
        },
    today:{
        'service' : {
            1 : '⭕',
            2 : '⭕',
            3 : '⭕',
            4 : '⭕',
            5 : '⭕',
            6 : '⭕',
            7 : '⭕',
            8 : '⭕',
            9 : '⭕',
            10 : '⭕'
            },
        'user': {
            1 : '⭕',
            2 : '⭕',
            3 : '⭕',
            4 : '⭕',
            5 : '⭕',
            6 : '⭕',
            7 : '⭕',
            8 : '⭕',
            9 : '⭕',
            10 : '⭕'
            }
        },
    tomorrow:{
        'service' : {
            1 : '⭕',
            2 : '❌',
            3 : '❌',
            4 : '⭕',
            5 : '⭕',
            6 : '⭕',
            7 : '⭕',
            8 : '⭕',
            9 : '⭕',
            10 : '⭕'
            },
        'user': {
            1 : '❌',
            2 : '❌',
            3 : '❌',
            4 : '⭕',
            5 : '⭕',
            6 : '⭕',
            7 : '⭕',
            8 : '⭕',
            9 : '⭕',
            10 : '⭕'
            }
        }
})

### 채점결과