In [2]:
import crawling

In [3]:
import keyword # word_df : 키워드10개 / word_n_article : 키워드&본문

In [4]:
if __name__ == '__main__' : 
#     %run crawling
    %run keyword

100%|██████████| 2235/2235 [00:00<00:00, 6410.00it/s]

In [5]:
word_df # 결과 res변수에 저장되게 설정돼있음

# 하나의 파일에 누적 저장하는 형식으로 고안해보자

   word  count
0    삼성     77
1    안랩     39
2    롯데     38
3   블록딜     32
4    두산     24
5  미래에셋     21
6   박용만     17
7    최현     16
8    푸드     16
9    제과     15

In [6]:
word_n_article

    word                                      text index
0     삼성                     삼성家, 전자 지분 1조3천억'블록딜'    45
1     삼성             삼성증권 '美주식 주간거래' 한달만에 5000억 돌파    63
2     삼성         삼성물산, 삼성전자와 8406억원 규모 평택사업장 공사 수주    85
3     삼성       삼성증권, 美주식 주간 거래 서비스 인기…한달새 5000억 돌파   143
4     삼성  삼성전자 '6만전자'로 전락…12조 상속세 때문에 1조 넘게 블록딜 처분   171
..   ...                                       ...   ...
272   제과              [특징주] 롯데제과·롯데푸드 합병 결정에 동반 강세   803
273   제과              [특징주] 롯데제과·롯데푸드 합병에 양사 주가 강세   809
274   제과              [특징주] 롯데제과, 롯데푸드와 합병 소식에 4%↑   819
275   제과                    [특징주]롯데제과·푸드 합병 결정에 강세   827
276   제과     [클릭 e종목]롯데제과-롯데푸드 합병 시너지는…비용 절감·사업 강화   968

[277 rows x 3 columns]

In [11]:
word_df['date'] = target
word_df['day'] = target_day
word_df = word_df[['date','day','word','count']]
word_df.to_csv(f'./data/rank/{target}_rank.csv', encoding='utf-8-sig', index = False)

word_n_article['date']= target
word_n_article['day'] = target_day
word_n_article[['date','day','word','text']].to_csv(f'./data/input/{target}_input.csv', encoding='utf-8-sig', index = False)

In [10]:
word_df

                date    day  word  count
0  20220325-20220327  금,토,일    삼성     77
1  20220325-20220327  금,토,일    안랩     39
2  20220325-20220327  금,토,일    롯데     38
3  20220325-20220327  금,토,일   블록딜     32
4  20220325-20220327  금,토,일    두산     24
5  20220325-20220327  금,토,일  미래에셋     21
6  20220325-20220327  금,토,일   박용만     17
7  20220325-20220327  금,토,일    최현     16
8  20220325-20220327  금,토,일    푸드     16
9  20220325-20220327  금,토,일    제과     15