In [1]:
import time
start = time.time()

In [2]:
from pycode.crawling import *
from pycode.input import *
from pycode.result import *
from pycode.final import *
from pycode.firebase import *

In [3]:
#12:00am에 실행
def runStockLuck():
    #get_news()
    extract_10keywords()
    get_output('cuda:0') # 'cpu' or 'cuda:0'
    get_result()
    get_answer()
    todaystock_update()
    ranking_update()
    checked_service_update()
    loadUserToto()

In [4]:
if __name__ == '__main__' :
    runStockLuck() #12:00am에 실행
    end = time.time()
    print('===== Running Time : ', (end - start) / 60, ' minutes =====')

100%|██████████| 2174/2174 [00:00<00:00, 6350.94it/s]

keywords have been extracted!
stock list has been extracted and saved!
articles have been extracted and saved!
using cached model. /home/kongminseok/hdd/2022_kbSecurities_DIM/.cache/kobert_v1.zip
using cached model. /home/kongminseok/hdd/2022_kbSecurities_DIM/.cache/kobert_news_wiki_ko_cased-1087f8699e.spiece
using cached model. /home/kongminseok/hdd/2022_kbSecurities_DIM/.cache/kobert_news_wiki_ko_cased-1087f8699e.spiece

  0%|          | 0/15 [00:00<?, ?it/s]

       date day  word  score expect change service user
0  20220329   화   이마트      3     up     up       ⭕    -
1  20220329   화    한화      2     up   down       ❌    -
2  20220329   화    신흥      0   stay     up       ❌    -
3  20220329   화   카카오      0   stay     up       ❌    -
4  20220329   화    배럴      0   stay     up       ❌    -
5  20220329   화    안랩      0   stay     up       ❌    -
6  20220329   화   현대차     -1   down     up       ❌    -
7  20220329   화   넷마블     -1   down   stay       ❌    -
8  20220329   화  한국전력     -1   down   down       ⭕    -
9  20220329   화   쌍용차     -5   down   stay       ❌    -

       date day  word  score expect change service user
0  20220329   화   이마트      3     up     up       ⭕    ⭕
1  20220329   화    한화      2     up   down       ❌    ⭕
2  20220329   화    신흥      0   stay     up       ❌    ⭕
3  20220329   화   카카오      0   stay     up       ❌    ⭕
4  20220329   화    배럴      0   stay     up       ❌    ⭕
5  20220329   화    안랩      0   stay     up       ❌    ⭕
6  20220329   화   현대차     -1   down     up       ❌    ⭕
7  20220329   화   넷마블     -1   down   stay       ❌    ⭕
8  20220329   화  한국전력     -1   down   down       ⭕    ⭕
9  20220329   화   쌍용차     -5   down   stay       ❌    ⭕

,id,date,day,user_expect,user
0,45782626,20220330,수,"[up, up, up, up, up, up, up, up, up, up]","[⭕, ⭕, ⭕, ⭕, ⭕, ⭕, ⭕, ⭕, ⭕, ⭕]"

===== Running Time :  9.845270955562592  minutes =====