In [1]:
import time
start = time.time()

In [2]:
from pycode.crawling import *
from pycode.input import *
from pycode.result import *
from pycode.final import *

In [3]:
#12:00am에 실행
def runStockLuck():
    get_news()
    extract_10keywords()
    get_output('cuda:0') # 'cpu' or 'cuda:0'
    get_result()
    get_answer()

In [4]:
# runStockLuck()이 끝나고 실행
def updateFirebase():
    todaystock_update()
    ranking_update()
    checked_service_update()
    overall_update()
    loadUserToto()

In [5]:
if __name__ == '__main__' :
    runStockLuck() #12:00am에 실행
    from pycode.firebase import * # runStockLuck()이 끝나고 실행가능
    updateFirebase() # runStockLuck()이 끝나고 실행가능
    end = time.time()
    print('===== Running Time : ', (end - start) / 60, ' minutes =====')

using cached model. /home/kongminseok/hdd/2022_kbSecurities_DIM/.cache/kobert_v1.zip
using cached model. /home/kongminseok/hdd/2022_kbSecurities_DIM/.cache/kobert_news_wiki_ko_cased-1087f8699e.spiece
using cached model. /home/kongminseok/hdd/2022_kbSecurities_DIM/.cache/kobert_news_wiki_ko_cased-1087f8699e.spiece

  0%|          | 0/14 [00:00<?, ?it/s]

       date day word  score expect change service
0  20220330   수  현대차      5     up     up       ⭕
1  20220330   수   한화      2     up     up       ⭕
2  20220330   수   베셀      2     up     up       ⭕
3  20220330   수  카카오      1     up     up       ⭕
4  20220330   수   두산      1     up   stay       ❌
5  20220330   수  쌍용차      0   stay   stay       ⭕
6  20220330   수   배럴      0   stay     up       ❌
7  20220330   수   신흥      0   stay   down       ❌
8  20220330   수  덴티움      0   stay   down       ❌
9  20220330   수   안랩     -5   down   down       ⭕

,date,day,id,user_expect,user_answer
0,20220330,수,20180590,"[up, down, down, down, up, up, down, down, dow...","[⭕, ❌, ❌, ❌, ⭕, ⭕, ❌, ❌, ❌, ❌]"
1,20220330,수,23199330,"[up, down, down, up, down, up, up, down, down,...","[⭕, ❌, ❌, ⭕, ❌, ⭕, ⭕, ❌, ❌, ⭕]"
2,20220330,수,31313131,"[up, down, down, up, up, up, down, down, down,...","[⭕, ❌, ❌, ⭕, ⭕, ⭕, ❌, ❌, ❌, ⭕]"

===== Running Time :  0.399929932753245  minutes =====